/* TOUCHE PAS AU BODY, #logo, #citation, #top, .menu, .menu li, .menu a, footer(et tous les trucs footer) et pas à #copyright */
html{
    height: 100vh;
    background: url("../images/fond.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

body{
    margin: auto;
    background-color: #00212e;
    width: 1000px;
}

header{
    background-color: rgba(0, 0, 0, 0.4); 
}

main{
    padding: 10px;
    background-color: #00212e;
}

p{
    color: #9b9c9e;
}
a{
    text-decoration: none;
    color: #9b9c9e;
}
#menu2 a{
    color: red;
}

#logo{
    display: block;
    height: 225px;
}
#citation{
    float: right;
    text-align: center;
    color: whitesmoke;
}

#top{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    display: flex;              
}

.menu li {
    list-style-type: none ; 
}

.menu a {
    display:block;               
    min-width: 150px;
    text-align: center;
    background-color: white;
    color: black;
    text-decoration: none;
    border: 1px solid #9b9c9e;    /* Ajout d'une bordure */
    border-radius: 4px;         /* Arrondis des bordures */
}
#burger{
    visibility: hidden;
    top:0px;
    left:0px;
    z-index:1;
    position:fixed;
}

div > h3{
	background-color: #BC0D0D;
	text-align: center;
}

div.texte{
	display: none;
}

div.question:hover .texte{
	display: block;
}

footer{
    display: flex;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.5);
    color: whitesmoke;
}
footer section div{
    display: flex;
    flex-direction: column;
    text-decoration: none;
}
footer section div a{
    text-decoration: none;
    color: whitesmoke;
}
footer section{
    padding: 20px
}
footer p{
    text-align: center;
    color: whitesmoke;
}
#copyright{
    padding: 50px 0px;
}
@media (max-width: 480px){
    body{
        font-size: 4vw;
        width: 100%;
    }
    #logo{
        display: flex;
        margin: auto;
        padding-left: 100px;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    #citation{
        display: none;
    }
    button{
        display: flex;
        margin: auto;
        float: none;
    }
    #reve1{
        float: none;
    }
    #reve2{
        display: flex;
        margin: auto;
    }
    #copyright{
        display: none;
    }
    nav{
        display: none;
    }
    input[type="checkbox"] {
        display: none;
    }
    #box:checked ~ #menu2{
        display: block;
    }

    #burger{
        visibility: visible;
    }
    #menu2{
        visibility: hidden;
    }
    #burger:active #menu2{
        visibility: visible;
    }
    p{
        text-align: justify;
    }
}