body{
	/*background: url("../images/fond.jpg");*/
	background-color: #838892;
    width: 1000px;
    margin: auto;
}

#logo{
	display: block;
	height: 225px;
}

#reve1{
	width: 400px;
	float: right;
}

#citation{
	float: right;
}

#top{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    display: flex;
    padding:0;
    justify-content: center;                  
}

.menu li {
    list-style-type: none ; 
}

.menu a {
    display:block;               
    min-width: 175px;
    text-align: center;
    background-color: white;
    color: black;
    text-decoration: none;
    border: 1px solid green;	/* Ajout d'une bordure */
    border-radius: 4px;			/* Arrondis des bordures */
}
.obl{
    color: red;
}